python/libmumbl/xmml/external/mad.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema targetNamespace="http://www.mapper-project.eu/mad" xmlns:mad="http://www.mapper-project.eu/mad" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="portMapping" type="mad:portMapper"/>

  <xs:element name="position" type="mad:position"/>
  
  <xs:complexType name="portMapper">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="position">
    <xs:sequence/>
    <xs:attribute name="x" type="xs:int" use="required"/>
    <xs:attribute name="y" type="xs:int" use="required"/>
  </xs:complexType>

  <xs:attribute name="connectionId" type="xs:string"/>

  <xs:attribute name="fromPortId" type="xs:string"/>

  <xs:attribute name="toPortId" type="xs:string"/>
</xs:schema>